<!DOCTYPE html>
<html>
<head>
  <title>Cadastro de Usuário</title>
</head>
<body>
  <h1>Cadastrar Usuário</h1>
  <form action="/usuarios/cadastro" method="POST">
    <label>Nome:</label>
    <input type="text" name="no_usuario" required><br>
    <label>Senha:</label>
    <input type="password" name="pw_senha" required><br>
    <label>Data de Nascimento:</label>
    <input type="date" name="dt_nascimento"><br>
    <label>Email:</label>
    <input type="email" name="ds_email"><br>
    <label>WhatsApp:</label>
    <input type="text" name="nu_whatsapp"><br>
    <button type="submit">Cadastrar</button>
  </form>
</body>
</html>