<!DOCTYPE html>
<html>
<head>
  <title>Usuários</title>
</head>
<body>
  <h1>Lista de Usuários</h1>
  <a href="/usuarios/cadastro">Cadastrar Novo</a>
  <ul>
    <% usuarios.forEach(usuario => { %>
      <li>
        <%= usuario.no_usuario %> - <%= usuario.ds_email %>
      </li>
    <% }) %>
  </ul>
</body>
</html>